<form>

  <div class="form-group">
    <label for="email">Correo Electronico</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="fullname">Nombre y Apellido</label>
    <input class="form-control" type="text" placeholder="Maria Gonzales" id="fullname">
  </div>  
  <div class="form-group">
    <label for="consultation">Consulta</label>
    <textarea class="form-control" id="consultation" rows="3" placeholder="Esciba aquí su consulta"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Enviar consulta</button>
</form>