{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>El mejor Duo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vero exercitationem dolorem natus recusandae id quo, voluptas explicabo impedit, porro reiciendis! Excepturi molestias officiis distinctio nemo rem, id odio exercitationem?</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/Lolitas_newLogo.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}