
{{> navbar }}
{{> head }}

<div>
    <h1 class="">Buscanos en:</h1>
</div>

<div class="container">
    <div class="row">
    <div class="col-4">
        <h2>Redes Sociales:</h2>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Tweeter</li>
        </ul>
    </div>
    <div class="col-8">
        <h2>Nuestros Locales:</h2>
        <ul>
            <li>Independecia 3800, Mar del Plata</li>
            <li>(Foto local)</li>
            <li>(mapa)</li>
        </ul>
    </div>
</div>
<br>
</div>

<div class="container">
    {{> contact_form }}
</div>
{{> footer }}
