{{> head }}

    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos a {{ capitalizar company}}!</h1>
        <p class="lead">Aquí encontraras una gran variedad en indumentaria para dama, caballero y niños.</p>
        <hr class="my-4">
        <p>
            Visitanos en nuestras redes sociales y suscribete a nuestro catalogo mensual de ofertas para recibir en tu correo nuestras promociones.<br>
            Puedes también visitarnos en nuestro locas ubicado en {{ capitalizar address}} ciudad de {{ capitalizar city}}. <br>
            Para contactarnos visita la sección <a href="/contact_us">Contact Us</a>.
        </p>
        <p>
            Puedes consultar nuestras ofertas haciendo clic en el botón que está debajo para ver las ofertas de este mes.
        </p>
        <a class="btn btn-success btn-lg" href="#" role="button">Consultar Ofertas del mes</a>
    </div>

{{> footer }}